/* Universal/Repetitive */

* {
    overflow-x: clip;
}

:root {
    --bright: turquoise;
    --navy: navy;
    --purple: #3c005a;
    --transparent: rgba(64, 224, 208, 0.737);
    --cardLabel: rgba(239, 239, 249, 0.737);
  }

  .sectionHeader {
    margin: 3rem 0 2rem;
    font-size: xxx-large;
    background-color: white;
    align-items: center;
}

/* <!-- Navigation --> */

.navbar {
    background-color: var(--purple) !important;
}

.nav-link:hover {
    background-color: var(--transparent);
}

/* <!-- Hero/Jumbotron Section --> */

.hero-banner {
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-text {
    background-color: var(--transparent);
    padding: 1rem;
}

h1 {
    display: inline-block;
    padding-left: 3rem;
    margin-bottom: 1rem;
}

.tagline {
    padding-left: 3rem;
}


/* <!-- Work Section -->*/

.workGrid {
    justify-content: center;
}

.card-label {
    background-color: var(--cardLabel);
    color: black;
    padding: 1rem;
    border-radius: inherit;
}

/* <!-- Skills  --> */

.skillsSection {
    margin: 3rem 1rem;
}

.skills-header {
    margin: 1rem 0 0;
}

.skillsQuote {
    align-items: center;
    margin: 1.5rem 0 0;
}

.napoleon {
    display: flex;
    margin: 3rem auto 0;
    width: 50%;
    min-width: 15rem;
    border-radius: 2%;
}

h2 {
    border-top: 1px solid lightgray;
    margin: 3rem 1rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.skillCards {
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
}

.skill-card {
    align-items: center;
}

.skill-img {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}

.quill {
    border-radius: 10%;
}


/* <!-- About/Contact --> */

.aboutSection {
    margin: 3rem 1rem;
}

.profile-pic {
    display: flex;
    margin: 3rem auto 0;
    width: 80%;
    max-width: 20rem;
}

.about-row {
    align-items: center;
    justify-content: center;
}

.contact {
    /* padding: 0.3rem 0.3rem 0.2rem; */
    margin-left: 1rem;
}

.contact-title {
    padding: 1rem 0 0 1rem;

}

.contact a {
    text-decoration: none;
    color: navy;
}

.contact a:hover {
    color: blueviolet;
}

/* Footer */

.fa-brands:hover {
    transform: scale(1.1);
}

/* Media Queries */ 

 @media (max-width: 946px) {
    
    .aboutMe {
        margin-top: 1.5rem;
    }

    .contact {
        padding-bottom: .5rem;
    }
}

